---
import Layout from '../layouts/Layout.astro'
import { ThreeScene } from '../components/ThreeScene'
---

<Layout title='Welcome to Astro.'>
  <main>
    <ThreeScene client:load />
  </main>
</Layout>
